



* {
    direction: rtl;
    font-family: Calibri, Arial;
    
}

/*צבע תפריט!*/

.custom_nav2 .custom_nav-container {
    background-color: #46b6b4;
}

/*לוגו בתפריט, מקטין את השורה לא למחוק!!*/
.logoArik {
    float: left;
    max-height: 100%;
    max-width: 50%;
    padding-left: 15%
}



.slider_section li {
    padding-left: 8%;
    text-align: center;
}

.list_tafrit {
    font-size: 23px;
    width: 100%;
    margin: 0 auto;
}



li > a {
    color: white
}



/*כפתור חיוג מהיר*/
#fastDialBig {
    position: fixed;
    left: 32px;
    top: 20px;
    font-size: 16px;
    border-radius: 30px;
    z-index: 9999
}

#fastDialSmall {
    position: fixed;
    left: 12px;
    top: 40px;
    font-size: 20px;
    border-radius: 30px;
    z-index: 9999
}


/*כפתור חזרה לראש העמוד */
#topButton1 {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #66C3C1; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

    #topButton1:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

/*---*/

חלק אחרון
/*
.info_section {
    background-color: #45b6b4;
    

}*/
/*.info_section {
    background-color: #0ba8a1
}*/
.marg{
    margin:0px;
}

svg {
    color: white;
    width: 50%;
    max-height: 80%;
}
.info_section h6 {
    text-align: center;
}

.info_section p {
    color: #fff;
    text-align: center;
}



/*מצב מסך מלא
*/
@media only screen and (min-width: 1000px) {
    .info_section {
/*        background-color: #45b6b4;
*/        text-align: center;
    }

 

      

}

/*מצב נייד
*/ @media only screen and (max-width: 1000px) {
    .list_tafrit {
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
    }

 

 }
@media only screen and (max-width: 768px) {
    .info_section .info_social {
        padding-right: 60px;
    }
}
